/* asterisk (*) = wildcard selector */
/* test reset initial values w/ initial or reset/normalize.css */
/* refactorExp and fix user-select and text-decoration */
@font-face {
    font-family: 'Fixedsys Excelsior 3.01';
    font-style: normal;
    font-weight: 400;
    src: local('Fixedsys Excelsior 3.01'), url('Fixedsys Excelsior 3.01.woff') format('woff');
}

a { 
    text-decoration: none;
}

body {
    all: initial;
    background-color: #222222;
    color: white;
    font-family: 'Fixedsys Excelsior 3.01';
    font-style: normal;
    font-size: 22px;
}

.preformat {
    white-space: pre-wrap;
    user-select: none;
    font-family: 'Fixedsys Excelsior 3.01';
    font-style: normal;
    font-size: 22px;
}

.highlight-on-hover:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
}

div {
    white-space: pre-wrap;
    color: white;
    text-decoration: none;
    font-family: 'Fixedsys Excelsior 3.01';
    font-style: normal;
    font-size: 22px;
}

.no-wrap {
    white-space: no-wrap;  
    font-family: 'Fixedsys Excelsior 3.01';
    font-style: normal;
    font-size: 22px;
}
.no-wrap *{
    white-space: inherit; 
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
}

.alt-text {
    white-space: pre-wrap;
    color: #FEFFBA; 
    font-family: 'Fixedsys Excelsior 3.01';
    font-style: normal;
    font-size: 22px;
}

footer {
    background-color: #222222;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
